@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Varela+Round&display=swap');

* {
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none;    
	user-select: none; 
	margin: 0;
	padding: 0;
}

body {
	background-color: #1b1f1b;
}

#aboutpara {
	font-family: 'Varela Round', sans-serif;
	position: absolute;
	font-size: 50px;
	overflow-wrap: anywhere;
	text-align: center;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	color: white;
}

.link {
	padding-top: 15px;
	padding-right: 60px;
	font-family: 'Varela Round', sans-serif;
	font-size: 35px;
	color: #a8a8a8;
	float: right;
	text-decoration: none;
}

a:hover {
	color: white;
	font-size: 38px;

}

#title {
	position: absolute;
	color: #424A42;
	font-family: Asap, sans-serif;
	font-size: 8vw;
}

.icon {
	width: 150px;
	height: 150px;
}

.currentLink {
	padding-top: 15px;
	padding-right: 60px;
	font-family: 'Varela Round', sans-serif;
	font-size: 35px;
	color: white;
	float: right;
	text-decoration: none;
}

#container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 10px;
	height: 60%;
	width: 70%;
	background-color: #242924;
}